.album {
  width: 100%;
  color: whitesmoke;
  text-align: center;
  &-title {
    height: 1rem;
  }
  &-cover {
    width: 75%;
    margin-bottom: 0.25rem;
    min-height: 225px;
  }
  &-tracklist {
    margin: 0 auto;
    margin-top: 0.75rem;
  }
  &-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  &-times {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    align-items: center;
  }
}
.tracklist {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  list-style: none;
  text-align: start;
  .track {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.325rem;
    &-mix-name {
      font-size: 0.5rem;
      color: rgb(187, 0, 187);
    }
  }
}
