body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98vh;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-c {
  @extend .flex;
  flex-direction: column;
}

.flex-r {
  @extend .flex;
  flex-direction: row;
}

.overflow-div {
  overflow: auto;
}

img {
  margin-bottom: 50px;
  width: 50px;
  height: auto;
}

p {
  margin: auto;
  color: white;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.center {
  justify-content: center;
  align-content: center;
}

.mid-width {
  width: 300px;
  height: 480px;
}
