.home {
  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-img {
    box-sizing: border-box;
    padding-right: 1.5rem;
    width: min-content;
    height: 450px;
    margin: auto;
  }

  &-jesus {
    &-heading {
      transform: scaleX(1.5) scaleY(0.75);
      transform-origin: left;
    }
    margin-top: auto;
    color: whitesmoke;
  }
}
