.home {
  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-img {
    box-sizing: border-box;
    padding-right: 1.5rem;
    height: 400px;
    margin: auto;
    @media screen and (max-width: 400px){
      height: 400px;
    }
  }

  &-jesus {
    &-heading {
      transform: scaleX(1.5) scaleY(0.75);
      transform-origin: left;
    }
    margin-top: auto;
    color: whitesmoke;
  }
}
