.musiknavigator {
  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &-select-container {
    margin-top: auto;
    padding: 0.25rem 1rem; // py-1 px-4
    border-radius: 0.5rem; // rounded-lg
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e293b; // slate-800
    color: #475569;
    transition: all 150ms ease;
    max-width: 100%; // max-w-full
    * {
      margin: auto;
      width: 100%;
      height: min-content;
    }
  }
  &-select {
    margin-top: auto;
    border: solid rgba(245, 245, 245, 0.65) 1px;
    border-radius: 0.5rem;
    padding: 0.1rem 2rem;
    width: auto;
    overflow: visible;
    background: rgba(245, 245, 245, 0.65);
    color: purple;
    transform: scaleY(0.75) scaleX(1.25);
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  }
}

.album-wrapper {
  width: 100%;
  margin-top: 4rem;
}
