

.layout {
  min-height: 100vh;
  display: flex;
}

.container {
  width: 360px;
  height: 560px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 100%;
  height: calc(560px - 32px);
  object-fit: contain;
  overflow: hidden;
  padding: 0 1rem;
}

.outlet-content img {
  max-width: 100%;
  height: auto;
}

.outlet-content div {
  width: 100%;
  box-sizing: border-box;
}

.underline {
  text-decoration: underline;
}

.link {
  a {
    animation: rainbow 0.5s ease-in-out infinite;
    transition: transform 0.2s ease;
    font-size: 0.75rem;
  }
}

@keyframes rainbow {
  0% {
    color: #ff00ff; // Purple
    text-shadow: 0 0 5px #ff00ff;
  }
  25% {
    color: #ff69b4; // Hot Pink
    text-shadow: 0 0 5px #ff69b4;
  }
  50% {
    color: #ff1493; // Deep Pink
    text-shadow: 0 0 5px #ff1493;
  }
  75% {
    color: #c71585; // Medium Violet Red
    text-shadow: 0 0 5px #c71585;
  }
  100% {
    color: #ff00ff; // Back to Purple
    text-shadow: 0 0 5px #ff00ff;
  }
}

.layout-wrapper {
  box-sizing: content-box;
  height: 560px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 80vw, 360px);
}

footer {
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  margin-bottom: 1.5rem;
  .footer {
    font-size: 1rem;
    &-version-hyperlink {
      color: #ff00ff;
    }
    &-text {
      font-size: 0.6rem;
      margin-left: auto;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      text-align: right;
      * {
        margin-left: auto;
      }
      img {
        width: 33%;
      }
    }
  }
}
